body {
    font-family: arial;
}

h1 {
    text-align: center;
    display: block;
    background-color: yellow;
    padding: 20px;
    border-radius: 6px;    

}

div {   
    text-align: center;
}

a {
    text-decoration: none;
    background-color: yellowgreen;
    padding: 10px;
    border-radius: 6px;
    text-align: center;
    margin: auto;
}